<!-- We make our view strongly typed by adding a model directive to the top of the View. -->
<!-- By making our view strongly typed, -->
<!-- the entry model instance that is being passed into the controllers call to -->
<!-- the view method will now be available via the views model property. -->
<!-- We can also update our label, text box and text area HTML helper methods to their strongly typed versions. -->
@model Treehouse.FitnessFrog.Models.Entry

@{
    ViewBag.Title = "Add Entry";
}

<!-- Press ctrl + k, ctrl + c to uncomment the whole section -->
@*<select>
    <option value="1">Item 1</option>
    <option value="2" selected>Item 2</option>
</select>*@

<h2>@ViewBag.Title</h2>

<!-- Calling the partial view -->
@Html.Partial("_EntryForm")
